# Swiggy Data Analysis Project

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px
import scipy.stats as st

In [ ]:
import pandas as pd

raw_data_dir = '/raw/'

Food = pd.read_excel(raw_data_dir + 'food.xlsx')
Menu = pd.read_excel(raw_data_dir + 'menu.xlsx')
Orders = pd.read_excel(raw_data_dir + 'orders.xlsx')
Orders_Type = pd.read_excel(raw_data_dir + 'orders_Type.xlsx')
Restaurant = pd.read_excel(raw_data_dir + 'restaurant.xlsx')
Users = pd.read_excel(raw_data_dir + 'users.xlsx')

print(Food.head())
print(Menu.head())
print(Orders.head())
print(Orders_Type.head())
print(Restaurant.head())
print(Users.head())

  f_id                  item veg_or_non_veg
0  fd0     Aloo Tikki Burger            Veg
1  fd1     Veg Creamy Burger            Veg
2  fd2   Cheese Burst Burger            Veg
3  fd3  Paneer Creamy Burger            Veg
4  fd4        Maxican Burger            Veg
  menu_id    r_id      f_id           cuisine  price
0     mn0  567335       fd0  Beverages,Pizzas   40.0
1     mn0  567335  fd669322  Beverages,Pizzas   40.0
2   mn328  158203       fd0         Beverages   65.0
3   mn328  158203  fd669322         Beverages   65.0
4   mn449  158203       fd0         Beverages   65.0
  order_date  sales_qty  sales_amount currency  user_id      r_id
0 2017-10-10        100         41241      INR    49226  567335.0
1 2018-05-08          3            -1      INR    77359  531342.0
2 2018-04-06          1           875      INR     5321  158203.0
3 2018-04-11          1           583      INR    21343  187912.0
4 2018-06-18          6          7176      INR    75378  543530.0
     Order_Id     Type
0  B496840219  Non-Veg
1  C134461623    Other
2  D679770099    Other
3  E622201871      Veg
4  A980473889  Non-Veg
       id               name Country    city rating     rating_count  \
0  567335     AB FOODS POINT   India  Abohar     --  Too Few Ratings
1  531342  Janta Sweet House   India  Abohar    4.4      50+ ratings
2  158203  theka coffee desi   India  Abohar    3.8     100+ ratings
3  187912          Singh Hut   India  Abohar    3.7      20+ ratings
4  543530      GRILL MASTERS   India  Abohar     --  Too Few Ratings

                      cuisine  \
0            Beverages,Pizzas
1               Sweets,Bakery
2                   Beverages
3            Fast Food,Indian
4  Italian-American,Fast Food

                                                link  \
0  https://www.swiggy.com/restaurants/ab-foods-po...
1  https://www.swiggy.com/restaurants/janta-sweet...
2  https://www.swiggy.com/restaurants/theka-coffe...
3  https://www.swiggy.com/restaurants/singh-hut-n...
4  https://www.swiggy.com/restaurants/grill-maste...

                                             address
0  AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...
1  Janta Sweet House, Bazar No.9, Circullar Road,...
2         theka coffee desi, sahtiya sadan road city
3    Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR
4  GRILL MASTERS, ADA Heights, Abohar - Hanumanga...
   user_id               name  Age  Gender Marital Status Occupation
0        1    Claire Ferguson   20  Female         Single    Student
1        2     Jennifer Young   24  Female         Single    Student
2        3  Jermaine Roberson   22    Male         Single    Student
3        4   Rachel Carpenter   22  Female         Single    Student
4        5       Shawn Parker   22    Male         Single    Student

# Initial Data Exploration

In [9]:
Datasets = [Food, Menu, Orders, Orders_Type, Restaurant, Users]
for i in Datasets:
    print(i.dtypes, "\n")

f_id              object
item              object
veg_or_non_veg    object
dtype: object

menu_id     object
r_id         int64
f_id        object
cuisine     object
price      float64
dtype: object

order_date      datetime64[ns]
sales_qty                int64
sales_amount             int64
currency                object
user_id                  int64
r_id                   float64
dtype: object

Order_Id    object
Type        object
dtype: object

id               int64
name            object
Country         object
city            object
rating          object
rating_count    object
cuisine         object
link            object
address         object
dtype: object

user_id            int64
name              object
Age                int64
Gender            object
Marital Status    object
Occupation        object
dtype: object

# Check and Handle the Null Values

In [10]:
Food.isnull().sum()

f_id              8
item              8
veg_or_non_veg    8
dtype: int64

In [11]:
Food[Food["f_id"].isnull()]

       f_id item veg_or_non_veg
13540   NaN  NaN            NaN
99966   NaN  NaN            NaN
99988   NaN  NaN            NaN
99989   NaN  NaN            NaN
99991   NaN  NaN            NaN
99993   NaN  NaN            NaN
99994   NaN  NaN            NaN
166711  NaN  NaN            NaN

In [12]:
Food.dropna(inplace=True)

In [13]:
Menu.isnull().sum()

menu_id    0
r_id       0
f_id       0
cuisine    0
price      1
dtype: int64

In [14]:
Menu[Menu["price"].isnull()]

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

         menu_id    r_id      f_id       cuisine  price
878051  mn414862  496987  fd413746  South Indian    NaN

In [15]:
Menu.dropna(inplace=True)

In [16]:
Orders.isnull().sum()

order_date         0
sales_qty          0
sales_amount       0
currency           0
user_id            0
r_id            1617
dtype: int64

In [20]:
Restaurant.isnull().sum()

id               0
name            86
Country          0
city             0
rating          86
rating_count    86
cuisine         99
link             0
address         86
dtype: int64

In [21]:
Restaurant[Restaurant["name"].isnull()].head()

,id,name,Country,city,rating,rating_count,cuisine,link,address
31044,397961,NaN,India,"Greater Mohali,Chandigarh",NaN,NaN,NaN,https://www.swiggy.com/restaurants/5-tara-grea...,NaN
32912,308071,NaN,India,"West Chd,Chandigarh",NaN,NaN,NaN,https://www.swiggy.com/restaurants/food-under-...,NaN
33046,308662,NaN,India,"West Chd,Chandigarh",NaN,NaN,NaN,https://www.swiggy.com/restaurants/franks-frie...,NaN
33488,170889,NaN,India,"South Chd,Chandigarh",NaN,NaN,NaN,https://www.swiggy.com/restaurants/dhaba-7-pre...,NaN
36492,390394,NaN,India,"George Town,Chennai",NaN,NaN,NaN,https://www.swiggy.com/restaurants/frozen-cafe...,NaN

In [22]:
Null_Restaurant_id = Restaurant[Restaurant["name"].isnull()]["id"]
Null_Restaurant_id

31044     397961
32912     308071
33046     308662
33488     170889
36492     390394
           ...
137121    256827
137545    567595
137613    116615
138379    401760
141567    463812
Name: id, Length: 86, dtype: int64

In [23]:
Count_of_Null_Rest = len(Null_Restaurant_id)
Count_of_Null_Rest

86

In [24]:
Orders[Orders["r_id"].isin(Null_Restaurant_id)].head()

      order_date  sales_qty  sales_amount currency  user_id      r_id
31044 2019-11-12          1            79      INR    76969  397961.0
32912 2020-01-13          1            65      INR    66468  308071.0
33046 2020-05-28          2           431      INR    81350  308662.0
33488 2018-05-02          2           463      INR    76025  170889.0
36492 2018-11-16          1            46      INR    49014  390394.0

In [25]:
Restaurant.dropna(subset="name",inplace=True)

In [26]:
len(Restaurant)

148454

In [28]:
Restaurant[Restaurant["cuisine"].isnull()].head()

,id,name,Country,city,rating,rating_count,cuisine,link,address
47768,155151,Pocket Plates By Abongchiiz,India,"GTB Nagar,Delhi",--,Too Few Ratings,NaN,https://www.swiggy.com/restaurants/pocket-plat...,"Pocket Plates By Abongchiiz, SHOP NO-15 DDA MA..."
51698,245476,NEW YORK WAFFLES & DINGES,India,"Greater Kailash 2,Delhi",--,Too Few Ratings,NaN,https://www.swiggy.com/restaurants/new-york-wa...,"NEW YORK WAFFLES & DINGES, A 6 KAILASH COLONY,..."
52218,62718,34 Chowringhee Lane,India,"Ashok Vihar,Delhi",3.6,100+ ratings,NaN,https://www.swiggy.com/restaurants/34-chowring...,"34 Chowringhee Lane, Shop no. 2, Phase 1, J bl..."
52515,349965,TRP-Tandoor Roll Paratha,India,"South Extension,Delhi",--,Too Few Ratings,NaN,https://www.swiggy.com/restaurants/trp-tandoor...,"TRP-Tandoor Roll Paratha, D-59, Panchsheel Enc..."
57165,319007,Kathi Roll Point,India,"Lajpat Nagar,Delhi",--,Too Few Ratings,NaN,https://www.swiggy.com/restaurants/kathi-roll-...,"Kathi Roll Point, SHOP NO.42,NEHRU NAGAR NEW D..."

In [29]:
Restaurant["cuisine"].nunique()

2132

In [30]:
Most_Repeated_Cuisine = Restaurant["cuisine"].mode()
Most_Repeated_Cuisine

0    North Indian,Chinese
Name: cuisine, dtype: object

In [40]:
len(Restaurant[Restaurant["cuisine"].isin(Most_Repeated_Cuisine ) ])

6471

In [31]:
Restaurant["cuisine"].fillna(Most_Repeated_Cuisine[0], inplace=True)

/tmp/ipykernel_36/1981323510.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Restaurant["cuisine"].fillna(Most_Repeated_Cuisine[0], inplace=True)

In [32]:
Restaurant[Restaurant["id"] == 155151]

,id,name,Country,city,rating,rating_count,cuisine,link,address
47768,155151,Pocket Plates By Abongchiiz,India,"GTB Nagar,Delhi",--,Too Few Ratings,"North Indian,Chinese",https://www.swiggy.com/restaurants/pocket-plat...,"Pocket Plates By Abongchiiz, SHOP NO-15 DDA MA..."

In [33]:
Restaurant.isnull().sum()

id              0
name            0
Country         0
city            0
rating          0
rating_count    0
cuisine         0
link            0
address         0
dtype: int64

In [34]:
Orders_Type.isnull().sum()

Order_Id    0
Type        0
dtype: int64

In [35]:
Users.isnull().sum()

user_id           0
name              0
Age               0
Gender            0
Marital Status    0
Occupation        0
dtype: int64

# Formating the Tables

In [36]:
Food.columns

Index(['f_id', 'item', 'veg_or_non_veg'], dtype='object')

In [37]:
Food.rename(columns={"f_id":"Food_id","veg_or_non_veg":"Food_Type","item":"Item"},inplace=True)
Food.columns

Index(['Food_id', 'Item', 'Food_Type'], dtype='object')

In [38]:
Menu.columns

Index(['menu_id', 'r_id', 'f_id', 'cuisine', 'price'], dtype='object')

In [39]:
Menu.rename(columns={"menu_id":"Menu_id","r_id":"Restaurant_id",
                     "f_id":"Food_id","cuisine":"Cuisine","price":"Price"}, inplace=True)
Menu.columns

Index(['Menu_id', 'Restaurant_id', 'Food_id', 'Cuisine', 'Price'], dtype='object')

In [40]:
Orders.columns

Index(['order_date', 'sales_qty', 'sales_amount', 'currency', 'user_id',
       'r_id'],
      dtype='object')

In [41]:
Orders.rename(columns={"order_Date":"Order_date","sales_qty":"Sales_QTY","sales_amount":"Sales_amount",
                       "Currency":"Currency","user_id":"User_id","r_id":"Restaurant_id"}, inplace=True)
Orders.columns

Index(['order_date', 'Sales_QTY', 'Sales_amount', 'currency', 'User_id',
       'Restaurant_id'],
      dtype='object')

In [42]:
Restaurant.columns

Index(['id', 'name', 'Country', 'city', 'rating', 'rating_count', 'cuisine',
       'link', 'address'],
      dtype='object')

In [43]:
Restaurant.rename(columns={"id":"Restaurant_id","name":"Name","city":"City",
                           "rating":"Rating","rating_count":"Rating_count","cuisine":"Cuisine","link":"Link","address":"Address"},
                           inplace=True)
Restaurant.columns

Index(['Restaurant_id', 'Name', 'Country', 'City', 'Rating', 'Rating_count',
       'Cuisine', 'Link', 'Address'],
      dtype='object')

In [44]:
Users.columns

Index(['user_id', 'name', 'Age', 'Gender', 'Marital Status', 'Occupation'], dtype='object')

In [45]:
Users.rename(columns={"user_id":"User_id","name":"Name"}, inplace=True)
Users.columns

Index(['User_id', 'Name', 'Age', 'Gender', 'Marital Status', 'Occupation'], dtype='object')

In [46]:
Restaurant.drop(columns=["Link","Address"], axis=1, inplace=True)

In [47]:
Restaurant.head(2)

,Restaurant_id,Name,Country,City,Rating,Rating_count,Cuisine
0,567335,AB FOODS POINT,India,Abohar,--,Too Few Ratings,"Beverages,Pizzas"
1,531342,Janta Sweet House,India,Abohar,4.4,50+ ratings,"Sweets,Bakery"

In [48]:
del Orders_Type

# Store the Dataset into the System

In [ ]:
output_dir = './clean'
Food.to_csv(output_dir + 'Food.csv', index=False)
Menu.to_csv(output_dir + 'Menu.csv', index=False)
Orders.to_csv(output_dir + 'Orders.csv', index=False)
Restaurant.to_csv(output_dir + 'Restaurant.csv', index=False)
Users.to_csv(output_dir + 'Users.csv', index=False)
print("Files saved to /kaggle/working/")

Files saved to /kaggle/working/

#                                  Thank You